.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
  padding: 20px 0px;
  font-size: 20px;
  background-color: white;
}

.table p {
  margin: 0px;
}

.table p:nth-child(1) {
  width: 15%;
}
.table p:nth-child(2) {
  width: 32.5%;
}
.table p:nth-child(3) {
  width: 32.5%;
}
.table p:nth-child(4) {
  width: 20%;
}
