.App {
  background: rgb(16, 105, 150);
  background: linear-gradient(
    180deg,
    rgba(16, 105, 150, 1) 0%,
    rgba(28, 126, 199, 1) 21%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100vh;
}
